body{
    background-color: antiquewhite;
}
header{
    background-color: black;
    color: blanchedalmond;
    height: 125px;
    
}
li{
    display: inline-block;
    text-align: center;
    padding-left: 10%;
    
}
li img{
    align-content: flex-start;
}
p{
    padding-left: 15%;
    padding-top: 30px;
    padding-bottom: 30px;
}
.column{
scroll-padding-left: 20px;
}
footer{
    background-color: black;
    height: 125px;
    width: 100%;
}